.root{
	-fx-background-color: #f4f4f4;
}

.sliderProgress .slider .track {
    -fx-background-color:null;  /* Hide the track */
    -fx-background-insets: 1.0 0.0 -1.0 0.0, 0.0, 1.0;
    -fx-background-radius: 2.5, 2.5, 1.5;
    -fx-padding: 0.208333em; /* 2.5 */
}

.sliderProgress .progress-bar > .bar { 
    -fx-background-radius: 10.0;
}

.sliderProgress .progress-bar > .track {
  -fx-background-radius: 10.0;
}

.volumeProgress{
	-fx-background-radius: 7.0;	/* 14 height of volume progress */
}

.durationProgress{
	-fx-background-radius: 3.0;
}

.list-view .scroll-bar:horizontal .increment-arrow,
.list-view .scroll-bar:horizontal .decrement-arrow,
.list-view .scroll-bar:horizontal .increment-button,
.list-view .scroll-bar:horizontal .decrement-button {
    -fx-padding:0.0;
}

.list-view{
	-fx-background-color: transparent;
	-fx-border-style: none;
	-fx-border-color: transparent;
	-fx-border-width: 0.0;
}

.dragEntered{
	-fx-border-style: solid;
	-fx-border-width: 0.0 0.0 2.0 0.0;	
	-fx-background-color: #CCFF99;
}

.playing{
	-fx-fill: white;
    -fx-stroke: black;
    -fx-stroke-width: 1.0;
}

/* List-Item color classes */
.c0 {-fx-background-color: #FFEBF1;}
.c1 {-fx-background-color: #EBFFF7;}
.c2 {-fx-background-color: #FFEBEB;}
.c3 {-fx-background-color: #EBFDFF;}
.c4 {-fx-background-color: #FFF5EB;}
.c5 {-fx-background-color: #EBF3FF;}
.c6 {-fx-background-color: #FEFFEB;}
.c7 {-fx-background-color: #EDEBFF;}
.c8 {-fx-background-color: #F4FFEB;}
.c9 {-fx-background-color: #F8EBFF;}
.c10 {-fx-background-color: #EBFFEC;}
.c11 {-fx-background-color: #FFEBFB;}

.list-cell {
    -fx-skin: "com.sun.javafx.scene.control.skin.ListCellSkin";
    -fx-background-color: -fx-control-inner-background;
    -fx-padding: 0.25em; /* 3 */
    -fx-text-fill: -fx-text-inner-color;
    -fx-opacity: 1.0;
}


.list-cell:odd {
    -fx-background-color: derive(-fx-control-inner-background,-5.0%);
}

.c0, .c0:odd {-fx-background-color: #FFEBF1;}
.c1, .c1:odd {-fx-background-color: #EBFFF7;}
.c2, .c2:odd {-fx-background-color: #FFEBEB;}
.c3, .c3:odd {-fx-background-color: #EBFDFF;}
.c4, .c4:odd {-fx-background-color: #FFF5EB;}
.c5, .c5:odd {-fx-background-color: #EBF3FF;}
.c6, .c6:odd {-fx-background-color: #FEFFEB;}
.c7, .c7:odd {-fx-background-color: #EDEBFF;}
.c8, .c8:odd {-fx-background-color: #F4FFEB;}
.c9, .c9:odd {-fx-background-color: #F8EBFF;}
.c10, .c10:odd {-fx-background-color: #EBFFEC;}
.c11, .c11:odd {-fx-background-color: #FFEBFB;}

.list-view:focused .list-cell:focused {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-control-inner-background;
    -fx-background-insets: 0.0, 0.0, 0.0;
}

.list-view:focused .list-cell:focused:odd {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, derive(-fx-control-inner-background,-5.0%);
    -fx-background-insets: 0.0, 0.0, 0.0;
}

/* When the list-cell is selected and focused */
.list-view:focused .list-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-selection-bar;
    -fx-background-insets: 0.0, 0.0, 0.0;
    -fx-background: -fx-accent;
    -fx-text-fill: -fx-selection-bar-text;
}

.list-view:focused .list-cell:filled:selected, .list-view:focused .list-cell:filled:selected:hover {
    -fx-background: -fx-accent;
    -fx-background-color: -fx-selection-bar;
    -fx-text-fill: -fx-selection-bar-text;
}

.list-view:focused .list-cell:filled:focused:selected:hover {
    -fx-background: -fx-accent;
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-selection-bar;
    -fx-background-insets: 0.0, 0.0, 0.0;
    -fx-text-fill: -fx-selection-bar-text;
}

/* When the ListView is _not_ focused, we show alternate selection colors */
.list-cell:filled:selected:focused, .list-cell:filled:selected, .list-view:horizontal .list-cell:filled:selected {
    -fx-background-color: lightgray;
    -fx-text-fill: -fx-selection-bar-text;
}

.list-cell:filled:selected:focused:disabled, .list-cell:filled:selected:disabled {
    -fx-opacity: -fx-disabled-opacity;
}

.list-cell:filled:hover {
    -fx-background-color: -fx-cell-hover-color;
    -fx-text-fill: -fx-text-inner-color;
}

.list-view:focused .list-cell:filled:focused:hover {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-cell-hover-color;
    -fx-background-insets: 0.0, 0.0, 0.0;
    -fx-text-fill: -fx-text-inner-color;
}

.list-view:horizontal .list-cell:filled:selected, .list-view:horizontal .list-cell:filled:selected:hover {
    -fx-background-color: linear-gradient(to right, derive(-fx-accent,-7.0%), derive(-fx-accent,-25.0%));
}