#artistLabel, #artistLabelShadow{
	-fx-font-family: Dense;
	-fx-font-size: 72px;
}

#titleLabel, #titleLabelShadow{
	-fx-font-family: Dense;
	-fx-font-size: 36px;
}

#artistBio{
/* -fx-font-family: Dense;	
	-fx-font-size: 20px;  */
	-fx-fill: #adadad;
	-fx-line-spacing: -5px;
/* 	-fx-line-spacing: -7px;*/
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color: #e6e6e6;

}

.tab-pane .tab:selected
{
    -fx-background-color: #3c3c3c;
}

.tab .tab-label { 
	-fx-font-family: Dense;
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
	-fx-font-family: Dense;
    -fx-alignment: CENTER;
    -fx-text-fill: #96b946;
}

.tab {
	-fx-font-size: 18px;
}

.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
 /* -fx-padding: 0.416667em 0.166667em 0.0em 0.833em; /* 5 2 0 10 */
    -fx-padding: 0.416667em 0.166667em 0.0em 0.0em; /* overriden as 5 2 0 0 */
    -fx-background-color: white;
}

.root{
	-fx-background-image: url("bg.png") ;
	-fx-background-repeat: repeat;
}

.sliderProgress .slider .track {
    -fx-background-color:null;  /* Hide the track */
    -fx-background-insets: 1.0 0.0 -1.0 0.0, 0.0, 1.0;
    -fx-background-radius: 2.5, 2.5, 1.5;
    -fx-padding: 0.208333em; /* 2.5 */
}

.sliderProgress .progress-bar > .bar { 
    -fx-background-radius: 10.0;
}

.sliderProgress .progress-bar > .track {
  -fx-background-radius: 10.0;
}

.volumeProgress{
	-fx-background-radius: 10.0;
}

.durationProgress{
	-fx-background-radius: 3.0;
}

.list-view .scroll-bar:horizontal .increment-arrow,
.list-view .scroll-bar:horizontal .decrement-arrow,
.list-view .scroll-bar:horizontal .increment-button,
.list-view .scroll-bar:horizontal .decrement-button {
    -fx-padding:0.0;
}

.list-view{
	-fx-background-color: transparent;
	-fx-border-style: none;
	-fx-border-color: transparent;
	-fx-border-width: 0.0;
}

.dragEntered{
	-fx-border-style: solid;
	-fx-border-width: 0.0 0.0 2.0 0.0;	
	-fx-background-color: #CCFF99;
}

/* List-Item color classes */
.c0 {-fx-background-color: #FFEBF1;}
.c1 {-fx-background-color: #EBFFF7;}
.c2 {-fx-background-color: #FFEBEB;}
.c3 {-fx-background-color: #EBFDFF;}
.c4 {-fx-background-color: #FFF5EB;}
.c5 {-fx-background-color: #EBF3FF;}
.c6 {-fx-background-color: #FEFFEB;}
.c7 {-fx-background-color: #EDEBFF;}
.c8 {-fx-background-color: #F4FFEB;}
.c9 {-fx-background-color: #F8EBFF;}
.c10 {-fx-background-color: #EBFFEC;}
.c11 {-fx-background-color: #FFEBFB;}

.list-cell {
    -fx-skin: "com.sun.javafx.scene.control.skin.ListCellSkin";
    -fx-background-color: -fx-control-inner-background;
    -fx-padding: 0.25em; /* 3 */
    -fx-text-fill: -fx-text-inner-color;
    -fx-cell-size: 20;
}


.list-cell:odd {
    -fx-background-color: white;
}

.c0, .c0:odd {-fx-background-color: #FFEBF1;}
.c1, .c1:odd {-fx-background-color: #EBFFF7;}
.c2, .c2:odd {-fx-background-color: #FFEBEB;}
.c3, .c3:odd {-fx-background-color: #EBFDFF;}
.c4, .c4:odd {-fx-background-color: #FFF5EB;}
.c5, .c5:odd {-fx-background-color: #EBF3FF;}
.c6, .c6:odd {-fx-background-color: #FEFFEB;}
.c7, .c7:odd {-fx-background-color: #EDEBFF;}
.c8, .c8:odd {-fx-background-color: #F4FFEB;}
.c9, .c9:odd {-fx-background-color: #F8EBFF;}
.c10, .c10:odd {-fx-background-color: #EBFFEC;}
.c11, .c11:odd {-fx-background-color: #FFEBFB;}

.list-view:focused .list-cell:focused {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-control-inner-background;
    -fx-background-insets: 0.0, 0.0, 0.0;
}

.list-view:focused .list-cell:focused:odd {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-control-inner-background;
    -fx-background-insets: 0.0, 0.0, 0.0;
}

/* When the list-cell is selected and focused */
.list-view:focused .list-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-selection-bar;
    -fx-background-insets: 0.0, 0.0, 0.0;
    -fx-background: -fx-accent;
    -fx-text-fill: -fx-selection-bar-text;
}

.list-view:focused .list-cell:filled:selected, .list-view:focused .list-cell:filled:selected:hover {
    -fx-background: -fx-accent;
    -fx-background-color: -fx-selection-bar;
    -fx-text-fill: -fx-selection-bar-text;
}

.list-view:focused .list-cell:filled:focused:selected:hover {
    -fx-background: -fx-accent;
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-selection-bar;
    -fx-background-insets: 0.0, 0.0, 0.0;
    -fx-text-fill: -fx-selection-bar-text;
}

.list-view:focused .list-cell:filled:focused:hover {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-cell-hover-color;
    -fx-background-insets: 0.0, 0.0, 0.0;
    -fx-text-fill: -fx-text-inner-color;
}

/* When the ListView is _not_ focused, we show alternate selection colors */
.list-cell:filled:selected:focused, .list-cell:filled:selected, .list-view:horizontal .list-cell:filled:selected {
    -fx-text-fill: -fx-selection-bar-text;
}

.list-cell:filled:selected:focused:disabled, .list-cell:filled:selected:disabled {
    -fx-opacity: -fx-disabled-opacity;
}

.list-cell:filled:hover {
    -fx-background-color: -fx-cell-hover-color;
    -fx-text-fill: -fx-text-inner-color;
}

.list-view .playing{
	-fx-text-fill: -fx-text-inner-color;
	-fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-cell-hover-color; 
}

.list-view .list-cell{
	/* -fx-font-family: Dense;-fx-alignment: */
}

.list-view .list-cell .cellArtist{
	-fx-font-size: 12px;
	-fx-font-weight: bold;
}
.list-view .list-cell .cellTitle{
	-fx-font-size: 10px;
}
.list-view .list-cell .cellDuration{
	-fx-font-size: 9px;
}


.hyperlink {
    -fx-text-fill: #757575;
    -fx-background-color: transparent;
    -fx-padding: 0.0;
    -fx-cursor: hand;
    -fx-border-color: transparent;
}

.hyperlink:hover {
    -fx-underline: true;
    -fx-border-color: transparent;
}

.hyperlink:focused {
    -fx-border-width: 0.0;
    -fx-border-color: transparent;
}

.hyperlink:visited {
    -fx-text-fill: #757575;
    -fx-border-color: transparent;
}

/* Equalizer */
#equalizerIcon{
	-fx-opacity: 0.2;
}

#equalizerIcon:hover{
	-fx-cursor: hand;
	-fx-opacity: 0.5;
}

/* Shuffle Button */
#shuffleToggleButton{
	-fx-background-radius: 80.0 80.0 80.0 80.0;
}